
@font-face{
    font-family: 'starwars-title';
    src: url('../../Utilis/fonts/StarJediHollow.woff') ;
  }

.about-title{
    font-family: 'starwars-title';
    color: #ffe066;
    text-align: center;
    font-size: 3rem;
}

.about-subtitle{
    font-family: 'starwars-title';
    color: #ffe066;
    font-size: 2rem;
    text-align: center;
}

.about-information{
    font-family: 'starwars-title';
    color: #ffe066;
    font-size: 1.5rem;
    position: relative;
    top: 38vh;
    text-align: center;
}
.about-link-container{
    max-width: 100vw;
    text-align: center;
}
.about-link{
    text-decoration: none;
    color: #ffe066;
    font-size: 2rem;
    border: 1px solid #ffe066;
    padding: 7px;
    border-radius: 10px;
    transition: 0.5s all;
    font-family: 'starwars-title';
    margin: 0;
    position: relative;
    top: 38vh;
}

.about-link:hover{
   
    background-color: #ffe066 ;
    color: black;
    -webkit-text-stroke: 2px black;
}

@media screen and (max-width: 768px){
    .about-information{
        font-size: 1rem;
        top: 30vh;
        text-align: center;
    }
}