
@font-face{
    font-family: 'starwars-title';
    src: url('../../Utilis/fonts/StarJediHollow.woff') ;
  }
  
  


.container h1{
    color: #ffe066;
    position: relative;
    font-size: 2.5rem;
    font-family: 'starwars-title';
    text-transform: lowercase;
}

.person-details{
    color: thistle;
}
.person-details a{
    max-width: 100%;
    color: #ffe066;
}
.card{
    border: 2px solid  #ffe066;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    padding: 0.7rem;
    width: 25rem;
    overflow: hidden;
    word-wrap: break-word;
    cursor: pointer;
    background-color: rgba(255, 255, 128,0.2);
    padding: 30px;
    
}

@media screen and (max-width: 768px){
    .container-title{
        font-size: 20px;
    }
    .card{
        max-width: 85vw;
        padding: 10px;
        
    }
    
}